body{
    font-family: Arial, sans-serif;
    margin: 50px;
}

h1{
    text-align: center;
}

h2{
    color: white;
}

p{
    color: #b2b2b2;
}

span{
    color: #febe01;
}

button, a{
    color: #111;
    background-color: #febe01;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

.carro, .bicicleta{
    background-color: #111;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
}